<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="onOpenMenu()">
                <ion-icon name="grid-outline" slot="icon-only"></ion-icon>
            </ion-button>

        </ion-buttons>
        <ion-title>discover</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<!--    if you need to change the selected just change the value of ion-segment-->
    <ion-segment value="all" (ionChange)="onSegmentChange($event)">
        <ion-segment-button value="all">All</ion-segment-button>
        <ion-segment-button value="bookable" >BOOKABLE PLACE</ion-segment-button>
    </ion-segment>
    <ion-grid *ngIf="!this.selected">
        <ion-row>
            <ion-col class="ion-text-center" size="12" size-sm="8" offset-sm="2">
                <p>There Is No Bookable Places!</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="this.selected">
        <ion-row>
            <ion-col class="ion-text-center" size="12" size-sm="8" offset-sm="2">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            {{selected.title}}
                        </ion-card-title>
                        <ion-card-subtitle>
                            {{selected.price | currency}} / Night
                        </ion-card-subtitle>
                        <ion-img [src]="selected.imageUrl"></ion-img>
                    </ion-card-header>
                    <ion-card-content>
                        <p>
                            <ion-text color="danger">{{selected.description}}</ion-text>
                        </p>
                    </ion-card-content>
                    <div class="ion-padding ion-text-right">
                        <ion-button fill="clear" color="primary" routerDirection="forward"
                                    [routerLink]="['/','places','discover',selected.id]">
                            More
                        </ion-button>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
        <!-- infinite-scroll -->
        <ion-row *ngIf="type==='infinite-scroll'">
            <ion-col class="ion-text-center" size="12" size-sm="8" offset-sm="2">
                <ion-item *ngFor="let place of places" (click)="onSelect(place)" detail="true">
                    <ion-thumbnail slot="start">
                        <ion-img [src]="place.imageUrl">
                        </ion-img>
                    </ion-thumbnail>
                    <ion-label>
                        <h>{{place.title}}</h>
                        <p>{{place.description}}</p>
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-row>

    </ion-grid>


    <!-- virtual-scroll & infinite-scroll -->
    <ion-list *ngIf="type==='infinite-scroll&virtual-scroll'">

        <ion-virtual-scroll [items]="places" approxItemHeight="100px">

            <ion-item *virtualItem="let place" (click)="onSelect(place)" detail="true">
                <ion-thumbnail slot="start">
                    <ion-img [src]="place.imageUrl">
                    </ion-img>
                </ion-thumbnail>
                <ion-label>
                    <h>{{place.title}}</h>
                    <p>{{place.description}}</p>
                </ion-label>
            </ion-item>

        </ion-virtual-scroll>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </ion-list>

    <!--     virtual-scroll-->
    <ion-list *ngIf="type==='virtual-scroll'">

        <ion-virtual-scroll [items]="places" approxItemHeight="100px">

            <ion-item *virtualItem="let place" (click)="onSelect(place)" detail="true">
                <ion-thumbnail slot="start">
                    <ion-img [src]="place.imageUrl">
                    </ion-img>
                </ion-thumbnail>
                <ion-label>
                    <h>{{place.title}}</h>
                    <p>{{place.description}}</p>
                </ion-label>
            </ion-item>

        </ion-virtual-scroll>

    </ion-list>


</ion-content>
